@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

.Products {
  background-color: #151515;
  min-height: 100vh;
  font-family: "Public Sans", sans-serif;
}
.containerFilters {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerFilters button {
  background-color: white;
  border: none;
  outline: none;
  padding: 12px 24px;
  margin-top: 20px;
}
.containerFilters button:hover {
  cursor: pointer;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.radio {
  padding: 10px 5px;
  margin: 0 10px;
  background-color: white;
}
.radio label:hover {
  cursor: pointer;
}
.radio label {
  padding: 5px 15px;
}

.containerProducts {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.product {
  background-color: white;
  min-height: 375px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
}
.product img {
  width: 180px;
  height: 150px;
  position: relative;
  top: 0;
  transition: 0.5s all;
}
.product .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
  transition: 0.5s all;
  width: 100%;
}

.product .description .title {
  text-align: start;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
  color: #151515;
  align-self: flex-start;
}
.product .description .textDescription {
  color: #151515;
  font-weight: 200;
  margin: 20px 0;
  align-self: flex-start;
}
.product .description .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product .description .details .price {
  color: #151515;
  font-weight: 800;
}

.product .description .details .addCart {
  border: none;
  outline: none;
  box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 4px 31px -11px rgba(0, 0, 0, 0.57);
  padding: 8px 18px;
  background-color: #151515;
  color: white;
}
.product .description .details .addCart .icon {
  height: 20px;
  width: 15px;
}

.product .description .details .addCart:hover {
  cursor: pointer;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:conic-gradient(#0000 10%,#F4F4F4);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 1075px) {
  .product {
    margin: 15px;
  }
}

@media (max-width: 1024px) {
  .containerProducts {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  .product {
    min-height: 300px;
    width: 250px;
  }
}
@media (max-width: 560px) {
  .containerProducts {
    grid-template-columns: auto;
    justify-items: center;
  }
  .product {
    width: 55%;
  }
}

@media (max-width: 480px) {
  .product {
    width: 70%;
  }
}
